@media(max-width:800px) {
    #header-home .header-content {
        padding-top: 25%;
        h1 {
            font-size: 1.75rem;
        }
    }
    #main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lead {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    .py {
        &-1 {
            padding: 0.5rem 0rem;
        }
        &-2 {
            padding: 1rem 0rem;
        }
        &-3 {
            padding: 1.5rem 0rem;
        }
        &-4 {
            padding: 2rem 0rem;
        }
    }
    .section-title {
        font-size: 1.75rem;
    }
    #home-a .specials {
        margin-top: 1rem;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }
    #home-c .process {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        &-icon {
            padding: 1.5rem;
            height: 50px;
            width: 50px;
            line-height: 50px;
            &:hover {
                height: 70px;
                width: 70px;
                line-height: 70px;
            }
        }
        &-step {
            font-size: 21px;
            height: 12px;
            width: 12px;
            line-height: 12px;
            padding: 0.75rem;
        }
        .fa-4x {
            font-size: 3em;
        }
    }
    .item {
        &-text-title {
            font-size: 0.75rem;
        }
        &-text-category {
            font-size: 0.75rem;
        }
    }    
}

@media(max-width:500px) {
    #main-nav a {
        font-size: 3vw;
    }
    #header-home .header-content {
        padding-top: 40%;
    }
    #home-a .specials {
        grid-template-columns: repeat(1, 1fr);
    }
    #home-c .process {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0rem;
    }
    .lead {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    #contact-a .text-fields {
        grid-template-areas:
        'name' 'email'
        'subject' 'phone'
        'message';
    }
    #contact-b .contact-info {
        grid-template-columns: repeat(1, 1fr)
    }
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}
